.app {
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  p{
    margin-bottom: 15px;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
}
