.todo-item {
  background-color: #3e3e3e;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &.completed {
    text-decoration: line-through;
    color: #a5a5a5;
  }

  &:hover {
    background-color: #4e4e4e;
  }
}
